In [1]:
!ls

README.md          database.sqlite    krex.ipynb         pitchfork-data.zip

In [2]:
#from zipfile import ZipFile

In [3]:
#pitchfork_db = 'pitchfork-data.zip'

In [6]:
#with ZipFile(pitchfork_db,'r') as zip:
    zip.printdir()
    zip.extractall()

File Name                                             Modified             Size
database.sqlite                                2017-01-13 04:18:36     83585024

In [4]:
!ls

README.md          database.sqlite    krex.ipynb         pitchfork-data.zip

In [39]:
import sqlite3
import pandas as pd

In [40]:
conn = sqlite3.connect('database.sqlite')

cur = conn.cursor()

query = '''
SELECT * 
FROM artists;
'''

cur.execute(query)

cur.description

(('reviewid', None, None, None, None, None, None),
 ('artist', None, None, None, None, None, None))

In [41]:
artists_data = cur.fetchall()

artists_df = pd.DataFrame(artists_data)

artists_df.columns = [i[0] for i in cur.description]

In [42]:
artists_df.head()

   reviewid          artist
0     22703  massive attack
1     22721        krallice
2     22659    uranium club
3     22661         kleenex
4     22661         liliput

In [43]:
conn = sqlite3.connect('database.sqlite')

cur = conn.cursor()

query = '''
SELECT * 
FROM content;
'''

cur.execute(query)

cur.description

(('reviewid', None, None, None, None, None, None),
 ('content', None, None, None, None, None, None))

In [44]:
content_data = cur.fetchall()

content_df = pd.DataFrame(content_data)

content_df.columns = [i[0] for i in cur.description]

In [45]:
content_df.head()

   reviewid                                            content
0     22703  “Trip-hop” eventually became a ’90s punchline,...
1     22721  Eight years, five albums, and two EPs in, the ...
2     22659  Minneapolis’ Uranium Club seem to revel in bei...
3     22661  Kleenex began with a crash. It transpired one ...
4     22725  It is impossible to consider a given release b...

In [46]:
conn = sqlite3.connect('database.sqlite')

cur = conn.cursor()

query = '''
SELECT * 
FROM genres;
'''

cur.execute(query)

cur.description

(('reviewid', None, None, None, None, None, None),
 ('genre', None, None, None, None, None, None))

In [47]:
genres_data = cur.fetchall()

genres_df = pd.DataFrame(genres_data)

genres_df.columns = [i[0] for i in cur.description]

In [48]:
genres_df.head()

   reviewid       genre
0     22703  electronic
1     22721       metal
2     22659        rock
3     22661        rock
4     22725  electronic

In [52]:
conn = sqlite3.connect('database.sqlite')

cur = conn.cursor()

query = '''
SELECT * 
FROM labels;
'''

cur.execute(query)

cur.description

(('reviewid', None, None, None, None, None, None),
 ('title', None, None, None, None, None, None),
 ('artist', None, None, None, None, None, None),
 ('url', None, None, None, None, None, None),
 ('score', None, None, None, None, None, None),
 ('best_new_music', None, None, None, None, None, None),
 ('author', None, None, None, None, None, None),
 ('author_type', None, None, None, None, None, None),
 ('pub_date', None, None, None, None, None, None),
 ('pub_weekday', None, None, None, None, None, None),
 ('pub_day', None, None, None, None, None, None),
 ('pub_month', None, None, None, None, None, None),
 ('pub_year', None, None, None, None, None, None))

In [50]:
labels_data = cur.fetchall()

labels_df = pd.DataFrame(labels_data)

labels_df.columns = [i[0] for i in cur.description]

In [51]:
labels_df.head()

   reviewid               label
0     22703              virgin
1     22721           hathenter
2     22659        static shock
3     22659  fashionable idiots
4     22661     kill rock stars

In [53]:
conn = sqlite3.connect('database.sqlite')

cur = conn.cursor()

query = '''
SELECT * 
FROM reviews;
'''

cur.execute(query)

cur.description

(('reviewid', None, None, None, None, None, None),
 ('title', None, None, None, None, None, None),
 ('artist', None, None, None, None, None, None),
 ('url', None, None, None, None, None, None),
 ('score', None, None, None, None, None, None),
 ('best_new_music', None, None, None, None, None, None),
 ('author', None, None, None, None, None, None),
 ('author_type', None, None, None, None, None, None),
 ('pub_date', None, None, None, None, None, None),
 ('pub_weekday', None, None, None, None, None, None),
 ('pub_day', None, None, None, None, None, None),
 ('pub_month', None, None, None, None, None, None),
 ('pub_year', None, None, None, None, None, None))

In [54]:
reviews_data = cur.fetchall()

reviews_df = pd.DataFrame(reviews_data)

reviews_df.columns = [i[0] for i in cur.description]

In [55]:
reviews_df.head()

,reviewid,title,artist,url,score,best_new_music,author,author_type,pub_date,pub_weekday,pub_day,pub_month,pub_year
0,22703,mezzanine,massive attack,http://pitchfork.com/reviews/albums/22703-mezz...,9.3,0,nate patrin,contributor,2017-01-08,6,8,1,2017
1,22721,prelapsarian,krallice,http://pitchfork.com/reviews/albums/22721-prel...,7.9,0,zoe camp,contributor,2017-01-07,5,7,1,2017
2,22659,all of them naturals,uranium club,http://pitchfork.com/reviews/albums/22659-all-...,7.3,0,david glickman,contributor,2017-01-07,5,7,1,2017
3,22661,first songs,"kleenex, liliput",http://pitchfork.com/reviews/albums/22661-firs...,9.0,1,jenn pelly,associate reviews editor,2017-01-06,4,6,1,2017
4,22725,new start,taso,http://pitchfork.com/reviews/albums/22725-new-...,8.1,0,kevin lozano,tracks coordinator,2017-01-06,4,6,1,2017

In [56]:
conn = sqlite3.connect('database.sqlite')

cur = conn.cursor()

query = '''
SELECT * 
FROM years;
'''

cur.execute(query)

cur.description

(('reviewid', None, None, None, None, None, None),
 ('year', None, None, None, None, None, None))

In [57]:
years_data = cur.fetchall()

years_df = pd.DataFrame(years_data)

years_df.columns = [i[0] for i in cur.description]

In [58]:
years_df.head()

   reviewid    year
0     22703  1998.0
1     22721  2016.0
2     22659  2016.0
3     22661  2016.0
4     22725  2016.0